@import './../../styles/colors';
@import './../../styles/fonts';
@import './../../styles/main';

.burger-menu {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
  border-left: 0.125rem solid $secondary-color;
  justify-content: center;

  span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    margin-bottom: 0.25rem;
    position: relative;

    background: $secondary-color;
    border-radius: 3px;

    z-index: 1;
  }
}