@import 'normalize';

@include normalize();

$tablet-width: 768px;
$desktop-width: 1024px;

$padding-left: 22%;
$padding-right: 22%;

@mixin flow-row-start {
  flex-direction: row;
  justify-content: start;
}

html {
  font-size: 16px;
  min-width: 320px;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}