.point-row {
    display: flex;
    padding-left: 8px;
}
.point {
    background-color: red;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    flex-direction: row;
    margin-right: 1rem;
}