@import "../styles/fonts";

.point-row {
  display: flex;
  font-size: 1.5rem;
  font-family: $primary-font-family
}

.point {
  background-color: red;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: row;
  margin-left: 1rem;
}